.page-header {
  display: block;
  width: 20rem;
  padding: 1rem;
}

.filter {
  border: none;
  border-radius: 12px;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin-left: 5px;
  cursor: pointer;
}

.divide {
  width: 5px;
}
